.profileContainer {
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
 .profileContainer_left{
    display: flex;
    margin-right: 5rem;
    flex-direction: column;
    a{
       font-size: $font-size-h3;
          margin-right: 2rem;
        text-decoration: none;
        color: $primarycolor; 
    }
    h1{
      color: $primarycolor;
      padding-bottom: 1.5rem;
      user-select: none;
    }
 }
 .profileContainer_right{
    display: flex;
    flex-direction: column;
    a{
        font-size: $font-size-h3;
        margin-right: 2rem;
        text-decoration: none;
        color: $primarycolor;

    }
 }
}