.updatePassword_page{
    width: 90vw;
    margin: 1rem auto;
    min-height: 50rem;
    .updatePassword_Box{
        .updatePassword_Heading{
            color: $primarycolor;
            user-select: none;
            border-bottom: 0.1rem solid $primarycolor-dark
        }
        .updatePassword_Form{
            display: flex;
            flex-direction: column;
            margin: auto;
            padding: 2rem;
            justify-content: space-evenly;
            min-height: 70%;
            transition: all 0.5s;
            .loginPassword{
                display: flex;
                svg{
                    font-size: 3rem;
                }
                input{
                    width: 40rem;
                    font-size: $font-size-p;  
                    &:hover{
                    background-color: $primarycolor-dark;
                    color: $base3;
                }                 
                }
            }
            input{
                width: 45rem;
                background-color: $primarycolor;
                color: $base3;
                font-size: $font-size-p;
                padding: 1rem 2rem;
                outline: none;
                border: 0.1rem solid $primarycolor-dark;
                margin-bottom: 1rem;
                transition: 0.5s ease all;
                &:hover{
                    background-color: $primarycolor-dark;
                    color: $base3;
                }
            }
        }

    }
}