$base1: #e2e2e2;
$base2: #d6d2d2;
$base3: #fff;
$primarycolor: #d4a853;
$primarycolor-light: #e7cd98;
$primarycolor-dark: #9c721d;
$secondaryColor: #000000;
$secondaryColor-light: #555252;

$font-size-h1: 3.6rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2.8rem;
$font-size-h4: 2.4rem;
$font-size-h5: 2rem;
$font-size-h6: 1.8rem;
$font-size-p: 1.6rem;
