.category_admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80rem;
    margin: 1rem auto;
    .create_category{
        display: flex;
        justify-content: center;
        align-items: center;
        form{
            display: flex;
            input{
                font-size: $font-size-p;
                padding: 0.8rem;
                margin-right: 1rem;
            }
        }
    }
}