.dashboard{
    display: flex;
    background-color: $primarycolor-light;
    min-height: 100vh;
    min-width: 100vw;
    .dashboard_sidebar{
        padding: 2rem;
        min-width: 20vw;
        border-right: 0.1rem solid $primarycolor-dark;
    transition: 1s all cubic-bezier(0.75, 0.82, 0.165, 1);
    &:hover{
        border-right: 0.1rem solid $primarycolor-dark;
        }
        
    }
    .dashboard_main{
        padding-top: 3rem;
        padding-left: 2rem;
    }
}
