.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
   .footer-leftSide{
    flex: 0.3;
        h4{
            color: $primarycolor;
        }
        .discp{
            display: flex;
            justify-content: flex-start;
            span{
                margin-left: 2rem;
            }
            .footer_icon{
                display: flex;
                justify-content: center;
                align-items: center;
                color: $base3;
                background-color: $primarycolor;
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                margin-right: 2rem;
            }
        }
   } 
   .footer_rightSide{
    flex:0.7;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap:3rem;
     h5{
        margin-bottom: 2rem;
     }
   }
}