.keyfacilities{
    width:95%;
    margin-top: 2rem;
    margin: auto;
    .keyfacilities_heading{
        h4{
           text-align: center; 
           background-color: $base3;
            position: relative;
            top:1.5rem;
            left:50%;
            transform: translateX(-50%);
            inline-size: 40rem;
        }
    }
    .kefacilities_list{
        border: 0.5px solid $primarycolor-light;
       display: flex;
       flex-wrap: wrap;
       min-height: 15rem;
        align-items: center;
        justify-content: space-around;
        margin: 0 auto;
        border-radius: 1rem;
        padding-top: 1rem;
        :last-child{
            border-right:0;
        }
       
    }
        .kefacilities_list_facility{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 2rem;
            height: 100%;
            border-right: 0.5px solid $primarycolor-light;
            p{
                margin-left: 2rem;
                max-width: 10rem;
            }
             @media screen and (max-width: 734px) and (min-width: 0px){
                border-right: 0;
            }

        }
        }
       
    
    