.sales-info{
    background-color: $secondaryColor;
    display: flex;
    color: $primarycolor;
    justify-content: space-between;
    padding: 0.3rem 5rem;
    span{
        font-size: 1.6rem;
        margin-left: 1rem;
    }
    @media screen and (max-width:534px) and (min-width: 0px){
        div{
            display: flex;
            flex-direction: column;
        }
    }
}