.grid_list{
    height: 40rem;
    padding: 0 4rem;
   .innerdivSlider{
    padding: 1rem 3rem;
   }
}
.grid_list_brands{
    padding: 4rem;
    padding-top: 6rem;
   .innerdivSlider{
    padding: 0 3rem;
   }
}

.buttonicon{
        font-size: $font-size-h1;
        margin: 2rem;
        height: 20rem;
        width: 3rem;
        max-width: 3rem;
        z-index: 99;
        color: $primarycolor;
    }